.cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: end;
}

.card{
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card button{
    margin: 2px;
}