/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/

.main{
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.fundo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10;
}

.botao-centralizado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
  z-index: 20;
  border-radius: 5px;
}

.botao-centralizado:hover {
  background-color: #f0f0f0;
}